# Virtual environment
.venv/
env/
venv/

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Build
build/
dist/
*.egg-info/

# cliff.toml
cliff.toml
changelog.sh

.jbeval
.qodo